@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .my-react-select-container .my-react-select__control {
        @apply bg-white dark:bg-neutral-100 border-2 border-neutral-300 dark:border-neutral-700 hover:border-neutral-400 dark:hover:border-neutral-500 cursor-pointer;
    }

    .my-react-select-container .my-react-select__control--is-focused {
        @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none cursor-pointer;
    }

    .my-react-select-container .my-react-select__menu {
        @apply bg-neutral-100 dark:bg-neutral-700 border-2 border-neutral-300 dark:border-neutral-600 cursor-pointer;
    }

    .my-react-select-container .my-react-select__option {
        @apply text-neutral-600 dark:text-neutral-200 bg-neutral-100 hover:bg-neutral-200 dark:bg-neutral-700 dark:hover:bg-neutral-800 cursor-pointer;
    }

    .my-react-select-container .my-react-select__indicator-separator {
        @apply bg-neutral-400;
    }

    .my-react-select-container .my-react-select__input-container,
    .my-react-select-container .my-react-select__placeholder,
    .my-react-select-container .my-react-select__single-value {
        @apply text-neutral-600 dark:text-neutral-200;
    }
}

body {
    --common-width: 80%;
    --medium: 12px;
    --small: 8px;
    --very-small: 4px;
    --very-large: 40px;
    --large: 24px;
}

:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0a0a0a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 72px;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* Default background image for large screens */
:root {
    background-image: url('assets/home-bg-desktop.jpg');
}

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
    :root {
        background-image: url('assets/home-bg-mobile.jpg');
    }
}
