@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --common-width: 80%;
    --medium: 12px;
    --small: 8px;
    --very-small: 4px;
    --very-large: 40px;
    --large: 24px;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0a0a0a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* Default background image for large screens */
:root {
    background-image: url('assets/home-bg-desktop.jpg');
}

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
    :root {
        background-image: url('assets/home-bg-mobile.jpg');
    }
}
